.idea/
etc/httpd/sites-enabled/*
!etc/httpd/sites-enabled/default.conf
etc/nginx/sites-enabled/*
!etc/nginx/sites-enabled/default.conf
data/*db/
data/*rep/
data/*dbizeo/
data/watcher/
!data/watcher/.gitkeep
!data/*rep/.gitkeep
!data/*db/.gitkeep
log/*_log/
!log/*_log/**.gitkeep
web_src/*
!web_src/.gitkeep
replica/*
!replica/.gitkeep
.env