# Custom config should go here
!includedir /etc/mysql/conf.d/

[mysqldump]
quick

[client]
#password = your_password
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8
# SET LOCAL time_zone='Europe/Moscow'

[mysqld]
#
# * Basic Settings
#
#user		= mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
datadir     = /var/lib/mysql
port		= 3306
skip-external-locking
default-time-zone='+03:00'
secure-file-priv= NULL
key_buffer_size=16M
max_allowed_packet=128M
